
  
  /* Regular weekdays (Monday–Friday) */
  .available-day {
    background-color: white !important;
    color: black !important;
  }

  .time-slot-button {
    background-color: #00888E;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
  }
  
  .time-slot-button:hover {
    background-color: white;
    color: #00888E;
    border: 2px solid #00888E;
  }
  
  


  
