
  
  /* Regular weekdays (Monday–Friday) */
  .available-day {
    background-color: white !important;
    color: black !important;
  }

  .selected-day {
    background-color: #1087ff;
    color: white;
  }

  .time-slot-button {
    background-color: #00888E;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
  }

  .delete-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
  }

  .add-button{
    background-color: #00888E;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    width: 50%;

  }

  .add-button:hover{
    background-color: white;
    color: #00888E;
    border: 2px solid #00888E;
  }
  
  .time-slot-button:hover {
    background-color: white;
    color: #00888E;
    border: 2px solid #00888E;
  }

 

  .availability-item{
    display: flex;
    align-items: center; /* Aligns buttons vertically */
    gap: 10px; /* Space between buttons */
  }
  
  .modal-overlay {
   position: absolute;
  top: 0px; /* Adjust this based on your navbar height */
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dim background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure it's above the main content */
  }
  
  .modal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 400px;
    max-height: 80vh;
    overflow-y: auto;
  }
  
  .modal label {
    display: block;
    margin-top: 10px;
  }
  
  .modal input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
  }
  
  .submit-button {
    background: green;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
  }
  
  .close-button {
    background: red;
    color: white;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
  }

 
  .form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .form-group label {
    flex: 1;
    text-align: left;
    font-weight: bold;
  }
  
  .form-group input {
    flex: 2;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  .form-group textarea {

    flex: 2;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;    

  }
  
  .modal-close-button {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #333;
  }
  
  .modal-close-button:hover {
    color: red;
  }
  
  .date-time-container {
    display: flex;
    gap: 20px; /* Adds spacing between DatePicker and time input */
    align-items: center; /* Ensures proper vertical alignment */
  }
  
  .datepicker {
    padding: 8px;
    border: 1px solid black;
  }
  
  .timepicker {
    padding: 8px;
    border: 1px solid black;
  }

  .time-slot-container {
    display: inline-block;
    position: relative;
    width: 100%;
  }

  .time-slot-button {
    position: relative;
    background-color: #00888E;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .info-button {
    position: absolute;
    top: 10px; /* Moves it towards the top */
    right: 10px; /* Moves it towards the right */
    background: #00888E;
    border: none;
    font-size: 12px;
    color: white;
    cursor: pointer;
    padding: 2px 5px;
  }
  

  
